development: false

ui_path: /usr/share/ui

log:
  level: debug

network: testnet

store:
  dsn: host=localhost user=test password=test dbname=db port=5432

ethereum:
  rpc_url: https://mainnet.infura.io/v3/<infura-id>
